[submodule "neo4j"]
	path = neo4j
	url = https://github.com/saengate/neo4j.git
[submodule "postgres"]
	path = postgres
	url = https://github.com/saengate/postgres.git
[submodule "vue"]
	path = vue
	url = https://github.com/saengate/vue.git
[submodule "django"]
	path = django
	url = https://github.com/saengate/django.git
