#!/bin/bash

activate () {
    source {{ path_venv }}/bin/activate;
    cd /webapps/project;
    ./manage.py makemigrations;
    ./manage.py migrate;
    ./manage.py collectstatic;
    ./python manage.py install_labels;
    echo "from django.contrib.auth import get_user_model; User = get_user_model(); User.objects.create_superuser('{{django_user}}', '{{django_email}}', '{{django_password}}')" | ./manage.py shell;
}