#!/bin/bash

# Copy this file into $PROJECT_PATH/bin
# sudo chmod u+x project_start
# sudo b2b_dowloads_start

DJANGODIR={{ home }}/{{ project_name }}
VENV={{ path_venv }}/bin
NUM_WORKERS=$((2 * $(getconf _NPROCESSORS_ONLN) + 1))   # how many worker processes should Gunicorn spawn
DJANGO_SETTINGS_MODULE=config.settings
DJANGO_ASGI_MODULE=config.asgi:application

echo "Starting $NAME as `whoami`"

source $VENV/activate

export DJANGO_SETTINGS_MODULE=$DJANGO_SETTINGS_MODULE
export PYTHONPATH=$DJANGODIR:$PYTHONPATH

# Kill previous gunicorn instances running in 8002 port
# kill -9 $(lsof -i:8002 -t) 2> /dev/null

# Start your Django daphne
# Programs meant to be run under supervisor should not daemonize themselves (do not use --daemon)
# daphne -b 0.0.0.0 -p 8003 -u /tmp/web.socket --access-log - --proxy-headers GithubAPI.asgi:application
exec $VENV/daphne \
  -u /tmp/web.socket \
  --access-log - \
  --proxy-headers \
  ${DJANGO_ASGI_MODULE}
